services:
  app:
    image: appfastapi
    build: ./
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      
  db:
    image: postgres:16.11-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
  
    ports:
      - "5432:5432"
    restart: always

  redis:
    image: redis:8.0-alpine
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "6379:6379"
    restart: always